body{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;

    grid-template-areas:
    "header nav"
    "main"
    "footer"
    ;
}


header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

h1 {
    float: left;
    padding: 8px;
    font-size: 40px;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
}

.banners {
    text-align: center;
    font-size: 26px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ofertas {
    margin-top: 100px;
    width: 800px;
}

footer {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-top: 150px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 25px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.items img {
    width: 400px;
    padding: 10px;
}

.div-contacto h4 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: bold;
    font-weight: 700;
    color: #000000;
    font-size: 40px;
}    

.div-contacto p {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-style: bold;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    padding: 10px;
}

.div-formulario {
    text-align: center;
    align-items:center;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-style: bold;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    padding: 10px;
}

.btn-enviar {
    width: 100px;
    background-color: grey;
    color: white;
    border-radius: 4px;
}

.div-envios {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 22px;
}

.div-envios h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
}

.div-pagos {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 22px;
}

.div-pagos h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 38px;
    text-align: center;
}

@media screen and (max-width:520px) {
    .menu {
        display: inline;
    }
    .banners {
        display: flex;
        align-items: center;
        justify-content: center
    }
    .banners img {
        width: 200px;
        align-items: center;
    }
}

.titulo-productos h4 {
    margin: 25px;
    padding: 30px;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
}

.div-pagos h5 {
    font-size: 30px;
    margin-top: 60px;
    padding: 40px;
    font-weight: 700;
}

.div-pagos p {
    font-size: 20px;
}

.div-envios h5 {
    font-size: 30px;
    margin-top: 60px;
    padding: 40px;
    font-weight: 700;
}

.div-envios p {
    font-size: 20px;
}
